<!-- app/templates/auth/login.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}

<main id="main">

   

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= login Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <form method="POST" role="form" action="{{ url_for('auth.login') }}" >
          {{ form.csrf_token() }}
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <br/>
              {{ utils.flashed_messages() }}
              <br/>
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                    <p class="text-white-50 mb-5">Please enter your login and password!</p>
      
                    <div class="form-outline mb-4">
                      {{ wtf.form_field(form.email, class='form-control', 
                           placeholder='Email') }}
                      {% if form.email.errors %}
                      <ul class="errors">
                        {% for error in form.email.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    </div>
      
                    <div class="form-outline mb-4">
                      {{ wtf.form_field(form.password, class='form-control', 
                            placeholder='Password') }}
                     
                    </div>
      
                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
      
                    {{ form.submit() }}
      
                    
                  </div>
      
                  <div>
                    <p class="mb-0">Don't have an account? <a href="{{ url_for('auth.register') }}" class="text-white-50 fw-bold">Sign Up</a></p>
                  </div>
      
                </div>
              </div>
            </div>
          </div>

      </div>
      </form>
    </section><!-- End login Section -->

  </main><!-- End #main -->

{% endblock %}