<!-- app/templates/home/about.html -->

{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block body %}

    <main id="main">

        
    
         <!-- ======= About Us Section ======= -->
    <section id="testimonials" class="about-us">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Overview</strong></h2>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            
            <div class="testimonial-item">
              <img src="static/img/testimonials/maathai_lecture.jpg" class="testimonial-img" style="justify-content: center;" alt="">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                You cannot protect the environment unless you empower people, you inform them, and you help them understand that these resources are their own, that they must protect them.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <h3>-Wangari Maathai.</h3>
              <h4>(2004 Nobel Peace Prize,</h4>
              <h4>Kenyan environmental activist.)</h4>
              
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              ISOTOPE CONSULTANCY LIMITED is committed to setting the highest standards for service delivery and performance in environmental impact assessments and audits as well as consultancy services on environmental conservation and management.
            </p>
            <P>The following outline the basic services provided by the Firm:</P>
            <ul>
              <li><i class="ri-check-double-line"></i> Environmental and Social Impact Assessment (ESIA)</li>
              <li><i class="ri-check-double-line"></i> Environmental Management Plan (EMP)</li>
              <li><i class="ri-check-double-line"></i> Environmental Audit (EA)</li>
              <li><i class="ri-check-double-line"></i> Environmental Policy and Legislative Compliance Application</li>
            </ul>
            <p class="font-italic">
              The Firm of Experts, given their knowledge in the existing environmental policies, laws and regulations will produce high quality, time and more cost-effective EIA and EA reports.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
    
       <!-- ======= About Us Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container"  data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bxs-book-bookmark icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">REGISTRATION <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse show" data-parent=".faq-list">
                <p>
                  The company is duly registered under the Companies Act 2015 of the Laws of Kenya and incorporated here in Kenya as a Private Limited Liability Company. We are also registered with the Ministry of Finance (Kenya Revenue Authority). 
                </p>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-grid icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">Setting Project Goals <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse" data-parent=".faq-list">
                <p>
                  The Firm of Experts will always thoroughly familiarize themselves with the project/ activity complexities through site visits and site meetings with the stakeholders and any other parties involved in projects to ensure public participation.  These meetings are useful in reviewing projects/ activities and lines of authority as well as establishing project procedures and rules, while identifying possible impacts a particular project/ activity might have on the environment. 
Thereafter, a work plan will be developed to facilitate easy co-ordination of environmental assessments and/or audits which will guide in developing an EMP for project implementation or otherwise according to the verdict that will be given by National Environment Management Authority (NEMA).  
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-disc icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Information and Documentation <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  ISOTOPE CONSULTANCY LIMITED believes in maintaining records to facilitate easy documentation and retrieval of any information required at project/ activity site and office.  It includes reports for project/ activity site meetings which focus on action items for each of the participants.  
The action items guide the entire process of ESIA and/or EA and can be tracked and managed by the Experts to ensure they are implemented to completion during project/activity process.
The final EIA and/or EA report will be forwarded to NEMA complete with EMP for every project/activity verified and signed by all Experts who participated in the exercise. 
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-diamond icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Establishment and Monitoring Quality <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  ISOTOPE CONSULTANTS LIMITED is committed to timely delivery of services and any other item that require its attention as required and when needed.  Similarly, the Firm of Experts is responsible for co-ordination of sampling and testing of all required materials as set out in the environmental laws, policies, regulations and standard specification requirements.
                  During every operation, Firm of Experts will check standard procedures and observe the entire process to meet the stipulated environmental standards such as ISO 14001:2015 Environmental Management systems.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Commitment to Health, Safety and the Environment <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  Activities of ISOTOPE CONSULTANCY LIMITED are executed in accordance with the guidelines provided by the Government and the National Environment Management Authority (NEMA) as well as our comprehensive company policies and procedures and other relevant legislations.
The Firm implements the occupational health and safety requirements and delegate obligations to the Experts to ensure compliance at the projects/activity site(s).
                </p>
              </div>
            </li>

            

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->
         
  
<!-- ======= Our Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Our Clients</h2>
      </div>

      <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="static/img/clients/client-1.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="static/img/clients/client-2.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="static/img/clients/client-3.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="static/img/clients/client-4.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="static/img/clients/client-5.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="static/img/clients/client-6.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="static/img/clients/client-7.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="static/img/clients/client-8.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Our Clients Section -->
{% endblock %}