<!-- app/templates/home/dashboard.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<main id="main">

   

    <!-- ======= Dashboard Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">
          

          <div class="col-lg-4 ">
            
            <div class="sidebar" data-aos="fade-right">
              
                <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>

              </div><!-- End sidebar search formn-->
              <div class="sidebar-title">
                <a href="{{ url_for('home.dashboard') }}"><i class="fa fa-user"></i>  Hi, {{ current_user.username }}!</a>
                <br>
                
               
               
              </div>
              <h3 class="sidebar-title">Blog Actions</h3>
              <div class="sidebar-item categories">
                <ul>

                  <li><a href="{{ url_for('blog.add_article') }}">New Article </a></li>
                  <li><a href="{{ url_for('blog.list_articles') }}">View Articles </a></li>
                  <li><a href="/cartegories">Cartegories </a></li>
                  
                  <li><a href="/drafts">Drafts</a></li>
                  
                </ul>

              </div><!-- End sidebar categories-->
              
              

              
              

              

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

                
            
  
          

    <div class="col-lg-8 "><!---->

             <!-- ======= Page content section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
          {% block blog %}

          {% endblock %}
         
  
        </div>
      </section><!-- End Services Section -->
        </div>
        </div>
      </div>
    </section>

{% endblock %}