<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(static/img/slide/slide-1.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Welcome to <span>Isotope Consultancy Limited</span></h2>
              <p>We are a Consultancy Firm of Environmental Experts registered under the Companies Act 2015 seeking to promote environmental conservation and management.</p>
              <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(static/img/slide/slide-2.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Our Mission</h2>
              <p>To offer environmental consultancy, impact assessments and audit services to ensure compliance to legal requirements and international standards.</p>
              <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(static/img/slide/slide-3.jpg);">
          <div class="carousel-container ">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Our Vision</h2>
              <p>To be a global leader in professional environmental and social impact assessment and audit consultancies for conservation and management.</p>
              <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->
    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Services Overview</strong></h2>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>“One of the first conditions of happiness is that the link between man and nature shall not be broken.”</h2>
            <h3 style="text-align:center;">—Leo Tolstoy</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              ISOTOPE CONSULTANCY LIMITED is committed to setting the highest standards for service delivery and performance in environmental impact assessments and audits as well as consultancy services on environmental conservation and management.
            </p>
            <P>The following outline the basic services provided by the Firm:</P>
            <ul>
              <li><i class="ri-check-double-line"></i> Environmental and Social Impact Assessment (ESIA)</li>
              <li><i class="ri-check-double-line"></i> Environmental Management Plan (EMP)</li>
              <li><i class="ri-check-double-line"></i> Environmental Audit (EA)</li>
              <li><i class="ri-check-double-line"></i> Environmental Policy and Legislative Compliance Application</li>
            </ul>
            <p class="font-italic">
              The Firm of Experts, given their knowledge in the existing environmental policies, laws and regulations will produce high quality, time and more cost-effective EIA and EA reports.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
     

{% endblock %}