<!-- app/templates/home/services.html -->

{% extends "base.html" %}
{% block title %}Our Services{% endblock %}
{% block body %}
<main id="main">

    

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Our Services
          
          </h2>
          <p>Through experienced leadership and attention to detail, the Consultancy Company ensures the success of our clients’ objectives without compromising their surrounding environment. </p>
        </div>
        
        <div id="accordion">
          <div class="card ">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Environmental and Social Impact Assessment (ESIA)
                </button>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                This process is a way to identify, predict and assess the type and scale of. potential biodiversity impacts, and opportunities to benefit conservation, associated with any business activities or projects. Biodiversity assessment should begin as early as possible, as effective assessment of the biodiversity characteristics of an area — and
                the potential impacts — may require months or even years, to account for seasonal and migration issues. In addition, early attention to
                biodiversity issues means that potential impacts can be identified and avoided or mitigated in the earliest stages of planning. Once a
                project or business activity proceeds, the costs of redesign or re-siting will make it more difficult to effectively address biodiversity issues           </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Environmental Management Plan (EMP)
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                An environmental
                          management tool used to ensure that
                                      undue or reasonably avoidable adverse
                          impacts of the construction, operation and
                                      decommissioning of a project are
                                prevented; and that the positive benefits of
                                  the projects are enhanced. EMPs are
                                  therefore important tools for ensuring that
                                  the management actions arising from
                                  Environmental Impact Assessment (EIA)
                                  processes are clearly defined and
                                  implemented through all phases of the
                                  project life-cycle. 
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Environmental Audit (EA)
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Environmental Audit (EA) is the systematic documented, periodic and objective evaluation of how activities and processes of an ongoing project to determine how far these activities and programs conform with the approved environmental management plan of that specific project and sound environmental management practices.  A comprehensive EA promotes safe and healthy environment at all stages of a project operations, as well as decommissioning. The goal of EA is to establish if proponents of projects are complying with environmental requirements and enforcing legislation. An environmental auditor shall appraise all project activities, including the production of goods and services, taking into consideration environmental regulatory frameworks, environmental standards, environmental health and safety measures and sustainable use of natural resources.
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Environmental Policy and Legislative Compliance Application
                </button>
              </h5>
            </div>
        
            <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                Environmental policy is the commitment of an organization or government to the laws, regulations, and other policy mechanisms concerning environmental issues. These issues generally include air and water pollution, waste management, ecosystem management, maintenance of biodiversity, the management of natural resources, wildlife and endangered species. For example, concerning environmental policy, the implementation of an eco-energy-oriented policy at a global level to address the issues of global warming and climate changes could be addressed. Policies concerning energy or regulation of toxic substances including pesticides and many types of industrial waste are part of the topic of environmental policy. This policy can be deliberately taken to influence human activities and thereby prevent undesirable effects on the biophysical environment and natural resources, as well as to make sure that changes in the environment do not have unacceptable effects on humans.
              </div>
            </div>
          </div>
          
         
        </div>
      </div>
    </section><!-- End Services Section -->
   
    {% include 'partials/clients.html' %}

  </main><!-- End #main -->

{% endblock %}