<!-- app/templates/errors/500.html -->


{% extends "base.html" %}
{% block title %}Our Services{% endblock %}
{% block body %}
<main id="main">
  <section>
  <div style="text-align: center">
    <h1> 500 Error </h1>
    <h3> The server encountered an internal error. That's all we know. </h3>
    <hr class="intro-divider">
    <a href="{{ url_for('home.homepage') }}" class="btn btn-default btn-lg">
        <i class="fa fa-home"></i>
        Home
    </a>
</div>
</section>
  </main><!-- End #main -->

{% endblock %}