{% import "bootstrap/utils.html" as utils %}
{% extends "home/dashboard.html" %}
{% block title %}List Article{% endblock %}

{% block blog %}
<div>
    {{ utils.flashed_messages() }}
    <div>
        {% if articles %}
        <div>
<table class="table-responsive table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        
        <th scope="col">Date</th>
        <th scope="col">Published</th>
        <th scope="col">Tags</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        {% for article in articles %}
      <tr >
        <th onclick="{{ url_for('blog.edit_article', id=article.id) }}" scope="row">{{article.id }}</th>
        <td>{{article.title}}</td>
        <td>{{article.author}}</td>
        
        <td>{{article.date}}</td>
        <td>{{article.draft}}</td>
        <td>{{article.tags}}</td>
        <td><a href="{{ url_for('blog.edit_article', id=article.id) }}">   
                  <i class="fa fa-pencil"></i> Edit
                    </a>
        </td>
        <td>
            <a href="{{ url_for('blog.delete_article', id=article.id) }}">
              <i class="fa fa-trash"></i> Delete
            </a>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="bg-light d-flex justify-content-center ">
    {% else %}
    <h3>No Articles have been added.</h3>
    {% endif%}
    <a href="{{ url_for('blog.add_article') }}" class="btn btn-default btn-lg">
        <i class="fa fa-plus"></i>
        Add article
      </a>
</div>
    </div>
</div>
{% endblock %}
