{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "home/dashboard.html" %}
{% block title %}
    {% if add_article %}
        Add Article
    {% else %}
        Edit Article
    {% endif %}
{% endblock %}

{% block blog %}

    {% if add_article %}
        <h3>Add Article</h3>
        <form method="POST" role="form"  action="{{ url_for('blog.add_article') }}">
    {% elif add_article=='False' %}
        <h3>Edit Article</h3>
        <form method="POST" role="form"  action="{{ url_for('blog.edit_article') }}">
    {% endif %}
        
            
            
              {{ form.csrf_token() }}
               
           
                
                <div class="form-group">


               
                {{ wtf.form_field(form.title, class='form-control', 
                placeholder='Title') }}
            
              </div>
              <div class="form-group" >


               
                {{ wtf.form_field(form.body, class='form-control', 
                placeholder='Body', id="editor") }}
            
              </div>
              
              <div class="form-group">


                
                {{ wtf.form_field(form.tags, class='form-control', 
                placeholder='One, Two, Three') }}
            
              </div>
              <div class="form-group">


            
                {{ wtf.form_field(form.draft, class='form-control', 
                placeholder='Is Draft?') }}
            
              </div>
              <div class="form-group">


            
                {{ wtf.form_field(form.author, class='form-control', 
                placeholder='Author') }}
            
              </div>

              <input type="submit" value="submit" />
              <button type="submit">Submit</button>
            
                  
            </form>
      
   

{% endblock %}
